<! -- This is a reusable confirmation pop up-->
<! -- Confimation Modal-->


<div class="modal-overlay">
    <div class="modal-box">
        <h2>@Title</h2> 
         @Message 
         <button @onclick="OnConfirm" class="btn btn-success"> Confirm</button> 
         <button @onclick="OnCancel" class="btn btn-secondary"> Cancel</button>

    </div>
</div>
    



@code {
    [Parameter] public string Title { get; set; }
    [Parameter] public RenderFragment Message { get; set; }
    [Parameter] public EventCallback OnConfirm { get; set; }
    [Parameter] public EventCallback OnCancel { get; set; }
}
