@page "/"
@inject NavigationManager Navigation

<div class="home-root">
	<div class="card" role="region" aria-labelledby="welcome">
		<img src="images/logo.svg" alt="SPT Logo" style="logo-main" />
		<div class="btn-row">
			<button class="btn btn-primarym" @onclick="GoLogin" aria-label="Login">Login</button>
			<button class="btn btn-secondary" @onclick="GoSignup" aria-label="Sign up">Sign up</button>
		</div>
	
	</div>
</div>


@code {
	void GoLogin() => Navigation.NavigateTo("/login");
	void GoSignup() => Navigation.NavigateTo("/signup");
}
