@page "/main"
@using SPT_API.Models
@using BlazorSPT.Services
@using BlazorSPT.Components.Pages.Subpages

<header class="top-bar">
    <div class="logo">SPT</div>

    <div class="right-section">
        <img src="images/default profile pic.png" alt="profile" class="top-profile" />
        <div class="dropdown">
            <button class="dropbtn">▼</button>
            <div class="dropdown-content">
                <a href="/main" onclick=@(() => SetView("home"))>Home</a>
                <a href="/settings">Settings</a>
                <a href="/logout">Logout</a>
            </div>
        </div>
    </div>
</header>
<div class="main-content">
    <nav class="side-menu">
        <ul>
            <li><button class="menu-item" onclick=@(() => SetView("home"))>Home</button></li>
            <li><button class="menu-item" onclick=@(() => SetView("coursemgmt"))>Course Management</button></li>
            <li><button class="menu-item" onclick=@(() => SetView("gpa"))>GPA</button></li>
            <li><button class="menu-item" onclick=@(() => SetView("attendance"))>Attendance</button></li>
            <li><button class="menu-item" onclick=@(() => SetView("settings"))>Settings</button></li>
        </ul>
    </nav>
    <section class="content">
        <section class="content">
            @switch (activeView)
            {
                case "home":
                    <HomesubPage/>
                    break;
                case "coursemgmt":
                    <CoursemgmtsubPage/>
                    break;
                case "gpa":
                    <p> gpa</p>
                    break;
                case "attendance":
                    <p> attendance</p>
                break;
                case "settings":
                    <p> settings</p>
                    break;
            }

        </section>
    </section>
</div>

@code {
    private string activeView = "home";


    void SetView(string view) => activeView = view;
}
