<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />

    <script src="_framework/blazor.server.js"></script>
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["BlazorSPT.styles.css"]" />
    <link rel="icon" type="image/x-icon" href="~/favicon.png" />
    <ImportMap />
    <HeadOutlet />
</head>

<body>
    <Routes />
</body>

</html>
